body {
  margin: 0;
  padding: 0;
  background-color: #f6f1f1;
  font-family: "Quicksand", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  padding-left: 20rem;
  padding-right: 20rem;
}

.site-footer {
}

.site-title {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.site-title:hover {
  text-decoration: underline;
}
