body {
  margin: 0;
  padding: 0;
  background-color: #f6f1f1;
  font-family: "Quicksand", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
