body {
  margin: 0;
  padding: 0;
  background-color: #f6f1f1;
  font-family: "Quicksand", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  padding-left: 20rem;
  padding-right: 20rem;
}

.site-footer {
}

.bold {
  font-weight: bold;
}

.site-title-container {
  margin-top: 12rem;
}

.site-title {
  text-decoration: none;
  color: #000;
  font-size: 8rem;
}

span::before {
  content: "Hello,";
  animation-name: hello;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes hello {
  0% {
    content: "Hello,";
  }
  10% {
    content: "Vanakkam,";
  }

  20% {
    content: "Namaste,";
  }

  30% {
    content: "Konnichiwa,";
  }

  40% {
    content: "Anyeonghaseyo,";
  }

  50% {
    content: "Bonjour,";
  }

  60% {
    content: "Hola,";
  }

  70% {
    content: "Ni hao,";
  }

  80% {
    content: "Guten Tag,";
  }

  90% {
    content: "Ciao,";
  }
}
